body{
    font-family: Arial;
}


#rojo{
    background-color: red;
}
#azul{
    background-color: blue;    
}
#morado{
    background-color: purple;    
}
#naranja{
    background-color: orange;
}
#gris{
    background-color: gray;    
}
#blanco{
    background-color: white;
}
#rojo,#azul,#morado,#blanco,#naranja,#gris{
    width: 500px;
    padding: 20px;
    border-radius: 20px;
}
#vacio{
    width: 400px; 
    padding: 20px;
       
}
#borrar{
    color: black;
}
#colores{
    margin: 0 auto;
    width: 50%;
}
#rojo,#azul,#morado,#blanco,#naranja,#gris,#vacio{
    border: 1px solid gray;
    height: 10px;
}
table{
    margin: 0 auto;
}
#atributo{
    width: 12px;
    height: 12px;
    border: 1px solid black;
}
.t1{
    border-collapse: collapse;
}
.colorTxt{
    color: white;
}
.colorTxtB{
    color: black;
}
.rojo {
    background-color: red;
}
.azul {
    background-color: blue;
}
.blanco {
    background-color: white;
}
.morado {
    background-color: purple;
}
.naranja {
    background-color: orange;
}
.gris{
    background-color: gray;
}
#reiniciar{
    margin-left: 50%;
    margin-top: 20px;
}
#uso{
    border: 2px solid gray;
    width: 900px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

