body{
 
    font-family: "verdana";
}
td, th {
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

header{
    background-color: rgb(222, 223, 247);
    display: flex;justify-content:space-between;flex-wrap: wrap;

}
.cabecera{
    padding-left:110px;
    padding-top: 50px; 
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: black;
}

.menus {
    display: flex;justify-content: space-between;flex-wrap: wrap;


}

aside{
    background-color: gray;width: 20%;height: 600px;
} 
section{
    background-color:  rgb(222, 223, 247);width: 60%;height: 600px;

} 
.enlacesLaterales{
    margin: 10px;
} 
.enlacesLaterales > a{
    color: rgb(147, 166, 150 );font-family:monospace;
    text-decoration: underline;display: flex;margin-bottom: 15px;
}

footer{
    background-color:rgb(227, 228, 250 ); width: 100%;height: 50px;
    margin-right: auto;margin-left: auto;
}
.menuCabecera{
    padding: 20px;
}
.alineacionFooter{
    float:left;margin-right: 50px;
}

#formulario {
    
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}
#formulario input{
    display: block;
    margin-left: 150px;
}
label{
    margin-left: 150px; 
}

#contenedor {
    width: 600px;
    height: 600px;
    border: 2px solid gray;
    margin: 0 auto;
}
table{
    border:1px solid gray;
}
th ,tr,td{
    border:1px solid gray;
}
#galleta{
    background-color: red;
    width: 300px;
    height: 50px;
}
#titulo{
    border: 3px solid gray;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    color:green;
    font-family: "verdana";
}